<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
</head>
<body>
    <form action="addAlien">
		<input type="text" name="aid"><br>
		<input type="text" name="aname"><br>
		<input type="submit" value="Save data"><br><br><br>
	</form>
	<form action="getAlien">
		<input type="text" name="aid"><br>
		<input type="submit" value="Get data"><br><br><br>
	</form>
	<form action="deleteAlien">
		<input type="text" name="aid"><br>
		<input type="submit" value="Delete data"><br><br><br>
	</form>
	<form action="updateAlien">
		<input type="text" name="aid"><br>
		<input type="text" name="aname"><br>
		<input type="submit" value="Update data"><br><br><br>
	</form>	
</body>
</html>
